@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h1>Trash Guy</h1>
            <p class="lead">Let us handle all your trash needs and begin your pickup today!!.</p>
            @if (!Request.IsAuthenticated)
            { 
                 <p><a id="registerLink" href="/Account/Register" class="btn btn-primary btn-large">REGISTER &raquo;</a></p>
            }

        </div>
        <div class="col-md-6">
            <img src="~/Images/trashguy.png" />
        </div>

    </div>
    
</div>

